*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}

footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
}